@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöllek a Mindig Fényes Kft. weboldalán!</h1>
    <br/>
    <h3>Hibabejelentéshez kérlek keresd fel a menüsoron a "Hiba bejelentése" opciót!</h3>
</div>
